// .eslintignore
build/*
dist/*
public/*
**/out/*
**/node_modules/*

**/.next/*
next.config.js

vite.config.js
vite.config.ts

src/reportWebVitals.js
src/service-worker.js
src/serviceWorkerRegistration.js
src/setupTests.js

src/reportWebVitals.ts
src/service-worker.ts
src/serviceWorkerRegistration.ts
src/setupTests.ts
src/sections/daily/utils.js
src/sections/hotels/utils.js
src/sections/agency/utils.js
src/sections/service/utils.js
src/sections/driver/utils.js
src/sections/vehicle/utils.js
src/sections/guid/utils.js
